$font-stake: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uppernav{
    width: auto;
    height: 70px;
    background-color: #f8f9fa;
}

.uppernav ul li{
    list-style: none;
    display: inline;
}

.uppernav ul li a{
    color: black;
    text-decoration: none;
    float: right;
    padding: 30px;
    padding-right: 40px;
    font-family: $font-stake;
}

.flink{
    float: left;
}

.flink ul li a{
    font-size: 60px;
}

.uppernav ul li a:hover{
    cursor: pointer;
}

.header{
    background-image : url(./story-bridge-3.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height: 350px;
    font-weight: lighter;
}

.header input{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border-style: none;
}

.headtxt{
    padding-top: 150px;
    font-family: $font-stake;
}

.input::placeholder{
    padding-left: 20px;
    font-size: 16px;
}

.input{
    margin-top: 10px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;

}

#container > div {
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: fit-content;
}

.first{
    background-image: url(./first.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.first p{
    padding-top: 200px;
}

.first:hover{
    cursor: pointer;
    opacity: 0.7;
}

.second{
    background-image: url(./second.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.second p{
    padding-top: 200px;
}

.second:hover{
    cursor: pointer;
    opacity: 0.7;
}

.mumbai{
    background-image: url(./mumbai.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.mumbai p{
    padding-top: 200px;
}

.mumbai:hover{
    cursor: pointer;
    opacity: 0.7;
}

.singaore{
    background-image: url(./singapore.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.singaore p{
    padding-top: 200px;
}

.singaore:hover{
    cursor: pointer;
    opacity: 0.7;
}

.dubai{
    background-image: url(./dubai.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.dubai p{
    padding-top: 200px;
}

.dubai:hover{
    cursor: pointer;
    opacity: 0.7;
}


.goa{
    background-image: url(./GOa.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.goa p{
    padding-top: 200px;
}

.goa:hover{
    cursor: pointer;
    opacity: 0.7;
}

.uk{
    background-image: url(./uk.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.uk p{
    padding-top: 200px;
}

.uk:hover{
    cursor: pointer;
    opacity: 0.7;
}

.paris{
    background-image: url(./paris.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    color: white;
    font-family: $font-stake;
}

.paris p{
    padding-top: 200px;
}

.paris:hover{
    cursor: pointer;
    opacity: 0.7;
}

.footer{
    display: block;
    height: auto;
    background-color: rgb(73, 71, 71);
    margin-top: 117px;
    margin-bottom: 0px;
    text-align: center;
}

@media screen and (max-width: 499px) {
    #container{
        padding-right: 10px;
        padding-left: 10px;
    }
    #container > div {
        width: 200px;
        height: 350px;
    }
}